@media(max-width: 575px) {
    .header-3-mobile {
        display: block !important;
    }

    .header-3-desktop {
        display: none !important;
    }

    .homepage-3 .active-listings {
        margin: 0px !important;
        padding: 30px 0px !important;
    }

    .homepage-3 .active-listings .heading {
        display: block !important;
    }

    .homepage-3 .active-listings .heading h2 {
        font-size: 25px !important;
    }

    .homepage-3 .banner-tabs .listing-search {
        display: block !important;
    }

    .homepage-3 .banner-tabs .listing-search .search-button {
        width: 100% !important;
        margin-top: 10px !important;
    }

    .homepage-3 .banner .banner-image {
        margin: 0px 15px !important;
    }

    .homepage-3 .banner .banner-image img {
        height: 300px !important;
    }

    .homepage-3 .banner h1 {
        font-size: 40px !important;
        margin-bottom: 15px !important;
    }

    .homepage-3 .banner-tabs {
        margin-top: 15px !important;
    }

    .footer-3 .footer-main .user-details {
        display: block !important;
    }

    .footer-3 .footer-main .user-details .details-box {
        margin-bottom: 15px;
    }

    .footer-3 .footer-main .user-name {
        font-size: 20px !important;
    }

    .footer-3 .footer-main .user-details .details-box h5 {
        font-size: 16px !important;
    }

    .footer-3 .footer-main .user-details .details-box p {
        font-size: 13px !important;
    }

    .footer-3 .footer-main .user-details .details-box a {
        font-size: 13px !important;
    }

    .footer-3 .footer-main .footer-small-info {
        font-size: 12px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .footer-3 .copyright-main {
        display: block !important;
    }

    .footer-3 .copyright-main h5 {
        text-align: center !important;
        font-size: 14px !important;
        margin-bottom: 10px !important;
    }

    .footer-3 .copyright-main .links {
        justify-content:center;
    }

    .footer-3 .copyright-main .links a {
        padding: 0px 5px !important;
        font-size: 11px !important;
    }

    .logo-box {
        img {
            width: 150px;
            height: auto;
        }
    }

    .account-image {
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 100%;
        object-fit: scale-down;
        border-radius: 5px;
        
      }
      .login-image {
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 100%;
        object-fit: scale-down;
        border-radius: 5px;
    
      }
      .register-image {
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 100%;
        object-fit: scale-down;
        border-radius: 5px;

      }
}